.card {
  color: white;
  padding: 5px;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

.card-selected {
  border-width: 2px;
  background-color: #ffe883;
}

.card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.card-body {
  background-color: #fdcf00;
}
.card-lead {
  color: #7530e3;
}
.lead {
  color: #7530e3;
}
.lootboxImg {
  display: block;
  width: 90px;
}
.lootboxContainer {
  display: inline-block;
  padding: 10px;
  margin-left: 10px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  align-content: center;
}
